body {
 margin: 150px;
 padding: 0px;
background-image: url("https://www.transparenttextures.com/patterns/sandpaper.png");
}
.container{
 display: flex;
}
.phone{
 flex: 1;
 min-width: 33%;
 text-align: center;
}

.email{
 flex: 2;
 min-width: 33%;
 text-align: center;
}

 .website{
  flex: 3;
  max-width: 33%;
  text-align: center;
}

.experience{
 min-width: 70%;
}

.columns{
 display: flex;
 justify-content: space-around;
}
.education{
 flex: 1;
 min-width: 33%;
}
.pro{
 flex: 2;
 min-width: 33%;
}
.sauce{
 flex: 3;
 max-width: 33%;
}
 
p {
font-family: 'Arial', Helvetica, sans-serif;
}
h2 {
 text-align: center;
 font-family: 'Arial', Helvetica, sans-serif;
}
h3 {
 font-family: 'Arial', Helvetica, sans-serif;
}
h4 {
 font-family: 'Arial', Helvetica, sans-serif;
 font-style: italic; 
}
